.spinner {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

.lds-dual-ring {
  display: inline-block;
  height: 64px;
  width: 64px;
}

.lds-dual-ring:after {
  animation: lds-dual-ring 1.2s linear infinite;
  border: 5px solid #5101d1;
  border-color: #5101d1 transparent #5101d1 transparent;
  border-radius: 50%;
  content: " ";
  display: block;
  height: 46px;
  margin: 1px;
  width: 46px;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
