.main-navigation {
  align-items: center;
  background-color: #01d1d1;
  display: flex;
  height: 3.5rem;
  left: 0;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.main-navigation__logo {
  font-size: 1.5rem;
  margin: 0;
}

.main-navigation__items {
  margin-left: 1.5rem;
}

.main-navigation__items ul {
  align-items: center;
  display: flex;
  margin: 0 0 0 1.5rem;
  list-style: none;
  padding: 0;
}

.main-navigation__items li {
  margin: 0 1rem;
}

.main-navigation__items a {
  text-decoration: none;
  color: #000;
}

.main-navigation__items a.active,
.main-navigation__items a:hover,
.main-navigation__items a:active {
  color: #f8e264;
}
